@charset "UTF-8";

main > section > article {
    display: block;
}
footer {
    background-color: gray;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    
}

footer > a {
    padding: 1px 3px;
    margin: 10px 10px 10px 10px;
}